@keyframes animacion_test{
    from{
        background-color: aquamarine;
    }
    to{
        background-color: darkmagenta;
    }
}

@keyframes girar{
    from{
        transform:rotate(0deg) ;
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes label-animacion {
    from{
        transform: rotate(0deg);
        margin-left: 0;
    }
    to{
        transform: rotate(1680deg);
        margin-left: 85vw;
    }
}

.label-container{
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;

}

.label{
    width: 64px;
    background-color: darkslateblue;
    color: #ffffff;
    font-size: 1.3rem;
    padding: 1rem;
    border-radius: 20px;
    text-align: center;
    animation-name: label-animacion;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.loader{
    width: 64px;
    height: 64px;
    border: 16px solid #058f00;
    border-top: 16px solid #6200ff;
    border-radius: 50%;
    animation: girar .3s linear infinite;
}

.loader-doble{
    width: 64px;
    height: 64px;
    border: 16px solid #03ffab;
    border-top: 16px solid #00c3ff;
    border-bottom: 16px solid#0b00a0be;
    border-radius: 50%;
    animation: girar .2s linear infinite;
}
.animada{
    width: 100%;
    background-color: aquamarine;
    color: bisque;
    text-align: center;
    height: 200px;
    display: flex;
    justify-content: center;
    animation: animacion_test 1.25s alternate infinite;

}

